# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/*
*.log*

!/.idea/
.idea/dictionaries/
.idea/smartfox_info.xml
.idea/vcs.xml
src/test/
